<div class="container">
	<div class="create-game-wrapper">
		<h2>Search for your game</h2>
		<div class="container-fluid">
			<div class="row">
				<label for="txtGameID">Game ID</label>
				<input type="text" id="txtGameID" class="form-control" />
			</div>
			<div class="row">
				<a data-toggle="collapse" href="javascript:;" data-target="#dvAdvOptions" aria-expanded="false" aria-controls="dvAdvOptions"><strong>+</strong> Advance Options</a>
			</div>
			<div id="dvAdvOptions" class="collapse">
				<div class="row">
					<label for="dvHostedBy">Hosted By</label>
					<input type="text" id="txtHostedBy" class="form-control" />
				</div>
			</div>
		</div>
	</div>
</div>