<div id="cahSlides" class="carousel slide hidden-xs" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#cahSlides" data-slide-to="0" class="active"></li>
		<li data-target="#cahSlides" data-slide-to="1"></li>
		<li data-target="#cahSlides" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="http://cardsagainsthumanity.com/v8/images/feature/desktop/expansions-52d29605.jpg" alt="">
			<div class="carousel-caption" style="color: black; text-shadow: none;">
				<p><strong>The Fifth Expansion</strong> is out! Get it before you realize what’s happening! <strong>$10</strong>, like our other four expansions.</p>
			</div>
		</div>
		<div class="item">
			<img src="http://cardsagainsthumanity.com/v8/images/feature/desktop/bbb-c4df25f5.jpg" alt="">
			<div class="carousel-caption">
				<p><strong>The Bigger Blacker Box</strong>. It’s 21 inches long. It weighs 17 ounces. It’s black as the night. And it’s completely empty inside. <strong>$15</strong>.</p>
			</div>
		</div>
		<div class="item">
			<img src="http://cardsagainsthumanity.com/v8/images/feature/desktop/holiday-4fdf1fe3.jpg" alt="">
			<div class="carousel-caption">
				<p>Miss out on the <strong>Holiday Packs</strong>? Now you can have them! Each has 30 cards with a vague holiday theme. <strong>$10 each</strong>. All profit donated to charity.</p>
			</div>
		</div>
	</div>
</div>
<div class="content-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-2 col-sm-offset-1">
				<div class="panel">
					<div class="panel-title">
						<h3>CREATE</h3>
					</div>
					<div class="panel-body">
						<p>Start a game with your friends.</p>
						<a href="#/game/create" class="btn btn-primary col-xs-6 col-xs-offset-3">Start</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-2 col-sm-offset-1">
				<div class="panel">
					<div class="panel-title">
						<h3>JOIN</h3>
					</div>
					<div class="panel-body">
						<p>Join an existing game.</p>
						<!--<input type="text" class="form-control" placeholder="Enter Game ID" />-->
						<a href="#/game/find" class="btn btn-primary col-xs-6 col-xs-offset-3" style="margin-top: 3px;">Find</a>
						<!--<button type="button" class="btn btn-primary col-xs-6 col-xs-offset-3" style="margin-top: 3px;" disabled>Find</button>--></div>
				</div>
			</div>
		</div>
	</div>
</div>